.bar_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  gap: 5px;
  justify-content: center;
  padding: 5px 5px 1px 5px;
}

.active_bar {
  background-color: blue; 
  border-radius: 5px;
  position: relative;
}

.completed_bar {
  position: relative;
  background-color: green;
  border-radius: 5px;
}

.missed_bar {
  position: relative;
  background-color: red;
  border-radius: 5px;
}
