.container {
  height: 60%;
  width: 45%;
  padding: 30px 10px;
  border: 10px solid #b0b0b0;
  background-color: #d2b48c;
  border-radius: 20px;
}

.dashboard_body_whiteTheme > * button {
  color: #fff;
  background-color: #38d2d2;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  font-weight: bolder;
  border: 0;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.dashboard_body_whiteTheme > * button:hover {
  transition-duration: 0.4s;
  background-color: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}
.dashboard_body_blackTheme > * button {
  color: #fff;
  background-color: #2e2e2e;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  border: 0;
  border-radius: 10px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.dashboard_body_blackTheme > * button:hover {
  transition-duration: 0.4s;
  background-color: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.container_items {
  height: 100%;
  padding: 10px;
  background-color: #faebd7;
  display: flex;
  flex-direction: column;
}

.paper_folded_edge {
  position: absolute;
  display: flex;
  left: 68.8%;
  height: 50px;
  width: 50px;
  bottom: 17.7%;
}

.paper_first_folded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: rosybrown;
  z-index: 1; /* ensure it appears on top */
}

.paper_second_folded {
  position: relative; /* establish positioning context */
  height: 100%;
  width: 100%;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  background-color: #d2b48c;
}

.clip_container {
  width: 45%;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: absolute;
  /* top: 0; */
  bottom: 79%;
}

.clip_container_items {
  background: rgb(204, 229, 233);
  background: radial-gradient(
    circle,
    rgba(204, 229, 233, 1) 80%,
    rgba(176, 176, 176, 1) 100% #c5c5c6,
    inset 0px 11px 45px 0px #c5c5c6
  );
  position: relative;
  margin: 0 auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.clip_top_section {
  position: absolute;
  height: 40px;
  bottom: 98%;
  left: 31%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  background: rgb(204, 229, 233);
  background: radial-gradient(
    circle,
    rgba(204, 229, 233, 1) 88%,
    rgba(176, 176, 176, 1) 94%
  );
}

.clip_top_section_circle {
  position: absolute;
  bottom: -18%;
  background-color: rgb(244, 244, 249);
  height: 86%;
  width: 59%;
  border-radius: 50%;
}

.clip_middle_section {
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clip_base {
  height: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

.complete_task_count,
.missed_task_count,
.delete_task_count,
.editing_items {
  font-weight: bolder;
  font-size: 1.2em;
}

.complete_task_count {
  text-shadow: 0 4px 10px green;
  color: green;
}

.missed_task_count {
  color: red;
  text-shadow: 0 4px 10px  red;
}

.delete_task_count {
  text-shadow: 0 4px 10px rgb(93, 84, 84);
}

.editing_items {
  text-shadow: 0 4px 10px rgb(93, 84, 84);
  color:white;
}

.title {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translate(-50%, -50%);
  flex: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: blue;
}

.task_condition {
  font-size: 1.1rem;
  font-weight: bolder;
}

.moreTitleDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input_time {
  height: 30px;
  font-size: 1.1rem;
  font-weight: bolder;
}

.input_new_Title {
  transition: border-color 0.3s ease;
  margin: 0;
  height: 35px;
  border: none;
  padding: 0 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.input_new_Title:focus {
  font-size: 1.2em;
  font-weight: bold;
  outline: none;
}

.input_new_Title::placeholder {
  font-size: 1.1rem;
}

.dashboard {
  font-size: 1.2rem;
}

.dashboard_container {
  margin-top: 5px;
  border: none;
  background-color: #98ff98;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  gap: 10px;
  border-radius: 5px;
}

.group_selector_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

.route_selector_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  font-weight: bolder;
}

.dashboard_selector {
  font-weight: bolder;
  font-size: 1rem;
  flex: 1;
  text-align: left;
}

.selector_icon {
  font-weight: bolder;
  font-size: 1rem;
}

.editing_items {
  height: 100%;
  position: relative;
}

.editing_new_title {
  height: 30px;
}

.close_task {
  height: 40px;
  font-size: 1rem;
  width: 80px;
  border: none;
}

.dashboard_options {
  padding: 3px 0;
  font-size: 1rem;
  font-weight: bolder;
}

.dashboard_options:hover {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}

.dashboard_options:hover {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

.input_time {
  font-size: 1.1rem;
}

.task_table {
  width: 100%;
}

.table_body {
  background-color: #fff;
  height: 100%;
}

.table_body button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.content {
  height: 40px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.content:hover {
  background-color: #f1f1f1;
}

.mark {
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-weight: bolder;
  color: #5f6368;
  padding: 10px;
}

.taskCount {
  font-size: 1.3em;
  font-weight: bold;
}

.user_text {
  margin-left: 10px;
  height: 40px;
  width: 100%;
  padding: 0px 0px;
  color: #333;
  display: flex;
  word-wrap: break-word;
}

.user_input {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  flex: 1;
  background-color: inherit;
  width: inherit;
  transition: border-color 0.3s ease;
  margin: 0;
}

.user_input:focus {
  font-size: 1.2em;
  outline: none;
  font-weight: bold;
}

.user_missed,
.user_complete {
  width: 40px;
  height: fit-content;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  font-size: 1.2rem;
  color: #888;
  transition: color 0.3s;
}

.user_delete {
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
  transition: color 0.3s;
  padding: 5px;
  
}

.user_delete button > svg {
  height: 20px;
  width: 20px;
}

.user_missed:hover {
  color: #ff5c5c;
}

.user_complete:hover {
  color: #4caf50;
}

.update_details {
  height: 40px;
  width: 80px;
  font-weight: bolder;
  border-radius: 10px;
  position: absolute;
  font-size: 1rem;
  z-index: 1;
  left: 66%;
  top: 73%;
  border: none;
}

.missedIndicator {
  background-color: #ffb3b3;
  color: #ffb3b3;
}

.completeIndicator {
  background-color: #b3ffb3;
  color: #b3ffb3;
}

/* ANIMATION FRAMES */
@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
