.dashboard_body_whiteTheme > * button {
  color: #fff;
  background-color: #38d2d2;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  font-weight: bolder;
  border: 0;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.dashboard_body_whiteTheme > * button:hover {
  transition-duration: 0.4s;
  background-color: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}
.dashboard_body_blackTheme > * button {
  color: #fff;
  background-color: #2e2e2e;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  border: 0;
  border-radius: 10px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.dashboard_body_blackTheme > * .taskHeader button svg path,
.dashboard_body_blackTheme > * .taskHeader button svg {
  color: white;
  fill: white;
}

.dashboard_body_blackTheme > * .taskHeader button:hover svg path,
.dashboard_body_blackTheme > * .taskHeader button:hover svg {
  color:black;
  fill:black;
}

.dashboard_body_blackTheme > * button:hover {
  transition-duration: 0.4s;
  background-color: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.container {
  padding: 30px 10px;
  border: 10px solid #b0b0b0;
  background-color: #d2b48c;
  height: 60%;
  width: 45%;
  border-radius: 20px;
}

.helper_guide {
  position: absolute;
  right: 0;
  top: 12px;
  z-index: 5;
  height: fit-content;
  width: 60%;
  background-color: whitesmoke;
  margin: 0 auto;
  left: 0;
}

.container_items {
  display: flex;
  flex-direction: column;
  background-color: #faebd7;
  gap: 10px;
  height: 100%;
}

.paper_folded_edge {
  position: absolute;
  display: flex;
  right: 0;
  height: 50px;
  width: 50px;
  bottom: 0;
}

.paper_first_folded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: rosybrown;
  z-index: 1; /* ensure it appears on top */
}

.paper_second_folded {
  position: relative; /* establish positioning context */
  height: 100%;
  width: 100%;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  background-color: #d2b48c;
}

.clip_container {
  width: 45%;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: absolute;
  /* top: 0; */
  bottom: 79%;
}

.clip_container_items {
  background: rgb(204, 229, 233);
  background: radial-gradient(
    circle,
    rgba(204, 229, 233, 1) 80%,
    rgba(176, 176, 176, 1) 100% #c5c5c6,
    inset 0px 11px 45px 0px #c5c5c6
  );
  position: relative;
  margin: 0 auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.clip_top_section {
  position: absolute;
  height: 40px;
  bottom: 98%;
  left: 31%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  background: rgb(204, 229, 233);
  background: radial-gradient(
    circle,
    rgba(204, 229, 233, 1) 88%,
    rgba(176, 176, 176, 1) 94%
  );
}

.clip_top_section_circle {
  position: absolute;
  bottom: -18%;
  background-color: rgb(244, 244, 249);
  height: 86%;
  width: 59%;
  border-radius: 50%;
}

.clip_middle_section {
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.clip_base {
  height: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.taskView_items {
  position: relative;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
  border-radius: 15px;
}

.taskHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  height: 40px;
}

.taskSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0px 5px;
  width: 100%;
}

.taskSelector > input,
.taskSelector > button {
  flex: 1;
}

.dashboard {
  height: 40px;
  width: 30%;
  position: relative;
}

.dashboard_route {
  width: 30%;
  height: 40px;
  position: relative;
}

.dashboard_group_item {
  border: none;
  width: 100%;
  flex: 1;
  gap: 5px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  position: relative;
  height: 40px;
}

.dashboard_route_items {
  width: 100%;
  border: none;
  height: 40px;
  padding: 5px 10px;
  gap: 5px;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.dashboard_selector {
  font-weight: bolder;
  font-size: 1rem;
  flex: 1;
  text-align: left;
}

.selector_icon {
  font-weight: bolder;
  font-size: 1rem;
}

.group_selector_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

.route_selector_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

.dashboard_options {
  height: 35px;
  padding: 3px 0;
  font-size: 1rem;
  font-weight: bolder;
}

.taskDropdown {
  font-weight: bolder;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
}

.option {
  font-size: 1rem;
  font-weight: bolder;
}

.time_deadline {
  height: 40px;
  font-size: 1rem;
}

.date_deadline {
  height: 40px;
  font-size: 1rem;
}

.taskOptions {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.taskOptions_items {
  width: fit-content;
  padding: 0px 15px;
  height: 40px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 9px;
}

.task_title_input {
  font-size: 1.1rem;
  height: 40px;
  transition: border-color 0.3s ease;
  margin: 0;
}

.grid_section {
  height: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.task_table {
  width: 100%;
  height: auto;
}

.table_body {
  background-color: #fff;
  border-bottom: 3px solid black;
}

.content {
  height: 50px;
  transition: background-color 0.3s;
}

.content:hover {
  background-color: #f1f1f1;
}

.mark {
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-weight: bolder;
  color: #5f6368;
}

.user_text {
  padding: 0px 8px;
  color: #333;
  word-wrap: break-word;
}

.user_input {
  font-size: 1.5rem;
  height: 40px;
  width: 100%;
  transition: border-color 0.3s ease;
  padding: 2px 3px;
  border: none;
  margin: 0;
}

.user_input:focus {
  font-size: 1.5rem;
  outline: none;
}

.user_delete,
.user_complete {
  width: 50px;
  height: fit-content;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px;
  color: #888;
  transition: color 0.3s;
}

.user_delete > button {
  height: 40px;
  width: 50px;
}

.user_delete:hover {
  color: #ff5c5c;
}

.user_complete:hover {
  color: #4caf50;
}

.send {
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-weight: bolder;
  border-radius: 10px;
  position: absolute;
  font-size: 1rem;
  z-index: 1;
  left: 90%;
  top: 90%;
  border: none;
}
