.container {
  height: 300px;
  width: 250px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 5px lightblue;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  padding: 5px 5px 0px 5px;
  flex-direction: column;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

.container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.container::-webkit-scrollbar-track {
  background-color: lightgrey;
  border-radius: 10px;
}

.date {
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
  color: black;
  padding-right: 5px;
  padding-left: 5px;
}

.date_content {
  font-size: 0.9em;
}

.content {
  height: fit-content;
  font-size: 0.9em;
  text-align: left;
  padding: 20px 5px 1px 5px;
  color: black;
  box-shadow: 0px 3px 7px -1px grey;
  width: 100%;
}

.content:hover {
  transform: translateY(-3px);
  z-index: 20; /* ensure it's higher than other elements */
  /* box-shadow: 0 10px 5px 5px grey; */
  background-color: white;
}